name: link-check

on: [push, pull_request]
permissions:
  contents: read
  pull-requests: read
  statuses: write
jobs:
  build:
    runs-on: ubuntu-20.04
    permissions:
      contents: read
      pull-requests: read
      statuses: write
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Test
        run: |
          npm install -g yarn
          make test-doc
